.menuPrincipal {
    background-color: rgb(25, 136, 255);
    display: flex;
    height: 70px;
}

.nombreBacklog {
    color: whitesmoke;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    height: 100%;
}

.nombreMenu {
    text-align: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 150px;
    display: inline-grid;
    cursor: pointer;
}

/* .nombreMenu:hover {
    background-color: rgb(25, 86, 255)
} */

.textoMenu {
    margin-top: 20px;
}

.tamanhoGrafica {
    height: 500px;
    width: 1400px;
}

.form-control-select {
    width: 100%;
    height: calc(1.60rem + 2px);
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 300px;
    margin-right: 20px;
}

@media screen and (prefers-reduced-motion: reduce) {
    .form-control-select {
        transition: none;
    }
}

.form-control-select::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control-select:focus {
    color: #495057;
    background-color: #fff;
    border-color: #041d49;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(4,29,73, 0.25);
}

/* #grafica1 .c3-line-CDD {
  stroke-width: 5px;
} */
