.menuPrincipal {
    background-color: rgb(63, 124, 191);
    display: flex;
    height: 70px;
}

.nombreBacklog {
    color: whitesmoke;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    height: 100%;
}

.nombreMenu {
    text-align: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    height: 70px;
    width: 123px;
    display: inline-grid;
    cursor: pointer;
}

/* .nombreMenu:hover {
    background-color: rgb(25, 86, 255)
} */

.textoMenu {
    margin-top: 20px;
}

.tamanhoGrafica {
    height: 500px;
    width: 1500px;
}

.tamanhoGrafica2 {
    height: 450px;
    /* width: 750px; */
}

.tamanhoGrafica3 {
    max-width: 700px;
}

.form-control-select {
    width: 100%;
    height: calc(1.60rem + 2px);
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 300px;
    margin-right: 20px;
}

@media screen and (prefers-reduced-motion: reduce) {
    .form-control-select {
        transition: none;
    }
}

.form-control-select::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control-select:focus {
    color: #495057;
    background-color: #fff;
    border-color: #041d49;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(4, 29, 73, 0.25);
}

.listaRein {
    border: 2px solid rgb(31, 77, 155);
}

#grafica22 .c3-texts-idr {
    font-weight: bold;
    font-size: 14px;
}

#grafica22 .c3-ygrid-line.regular line {
    stroke: orange;
    stroke-width: 0.5px;
}

#grafica22 .c3-ygrid-line.regular text {
    fill: orange;
}

#grafica22 .c3-ygrid-line.malo line {
    stroke: red;
    stroke-width: 0.5px;
}

#grafica22 .c3-ygrid-line.malo text {
    fill: red;
}

#grafica3 .c3-line-porcTicketRepetido {
    stroke-width: 1px;
}

#grafica3 .c3-texts-porcTicketRepetido {
    font-weight: bold;
    font-size: 13px;
}

#grafica3 .c3-texts-numOrdenes {
    font-weight: bold;
    font-size: 13px;
}

#grafica1 .c3-texts-crecimiento {
    font-weight: bold;
    font-size: 12px;
}

#grafica2 .c3-texts-crecimiento {
    font-weight: bold;
    font-size: 12px;
}

#grafTRS .c3-xgrid-line.conectamas line {
    stroke: green;
    stroke-width: 1px;
}

#grafTRS .c3-xgrid-line.conectamas text {
    fill: green;
    font-weight: bold;
    font-size: 11px;
}

/* // ----------------------------------------------------------- */

.green {
    color: black\9;
    background-color: #D5E5B4;
}

.yellow {
    color: white;
    background-color: rgb(255, 204, 5);
}

.red {
    color: black\9;
    background-color: #F7B9BA;
}

.green:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .green:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
    color: black;
    background-color: #D5E5B4;
}

.yellow:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .yellow:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
    color: white;
    background-color: rgb(255, 204, 5);
}

.red:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .red:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
    color: black;
    background-color: #F7B9BA;
}

.red:hover {
    color: black;
}

.naranja {
    color: white;
    background-color: rgb(252, 134, 55);
}

.naranja:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .green:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
    color: white;
    background-color: rgb(252, 134, 55);
}

.morada {
    color: white;
    background-color: rgb(121, 55, 170);
}

.morada:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .green:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
    color: white;
    background-color: rgb(121, 55, 170);
}

.roja {
    color: white;
    background-color: rgb(255, 5, 5);
}

.roja:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected), .jqx-widget .green:not(.jqx-grid-cell-hover):not(.jqx-grid-cell-selected) {
    color: white;
    background-color: rgb(255, 5, 5);
}


.tituloGris {
    color: #555759;
    font-weight: bold;
    font-size: 15px;
}

/*
    FORMATOS PARA LA TABLA DE REINCIDENCIAS
*/

.thead-active th {
    background-color: #041d49;
    color: #FFFFFF;
    text-align: center;
}

thead {
    position: sticky;
    top: 0;
    z-index: 10;
}

.table-responsive {
    height: 68vh;
    overflow: scroll;
}

.w-dist {
    width: fit-content;
}

.w-tt {
    width: 150px;
}

.w-ntt {
    width: 50px;
}

.w-35 {
    width: 45%;
}

.bg-buscar {
    background-color: rgb(31, 77, 155);
    color: #FFFFFF;
}

/* Elimina el tache del input type=search */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.etiqueta {
    font-size: 15px;
}

/* #todosCombos {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
} */